.btn {
    margin-top: 20px;
    padding: 0 40px;
    line-height: 49px;
    font-size: 16px;
    color: #4f9d57;
    border: 3px solid #60934c;
    background-color: transparent;
    border-image-source: url(../../images/Без\ названия.svg);
    border-image-slice: 3;
    border-image-width: 3px;
    border-image-repeat: round;
    background-origin: border-box;
}