<header class="header">
    <a class="logo" href=""> <img src="../assets/images/logo-66a02419.jpg" alt=""> </a>

    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link" href="#">Главная</a>
            </li>
            <li class="nav__item">
                <a class="nav__link has-subnav" href="#">Бронирование</a>

                <ul class="subnav">
                    <li>
                        <a  class= "subnav__link" href="#">Фемели</a>
                    </li>
                    <li><a class= "subnav__link" href="#">Юг</a></li>
                    <li><a class= "subnav__link"href="#">Призма</a></li>
                </ul>

            </li>
            <li class="nav__item">
                <a class="nav__link" href="#">Природа</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#">О нас</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#">Контакты</a>
            </li>
        </ul>
    </nav>

    </header>